<!DOCTYPE html>
<html>

<head>
   <!-- <link rel="stylesheet" href="css/estilo.css"> -->
</head>

<body>

        <form id="registro" name="registro" method="POST" action="/usuario/registro">
            <input type="text" id="username" placeholder="Username" name="username">
            <input type="text" placeholder="Email" name="email" />
            <input type="password" placeholder="password" name="password" />
            <input type="password" placeholder="password confirm" name="password2" />
            <input type="submit" value="Submit" />
        </form>
   
   
        <form id="login" name="login" method="POST" action="/login">
            <input type="text" id="lusername" placeholder="Username" name="lusername">
            <input type="password" id="lpassword" placeholder="password" name="lpassword" />
          <input type="radio" name="recordarme" value="recordarme"> recordarme <br/>
            <input type="submit" value="Submit" />
        </form>
</body>

</html>