<p>ass</p>
<p>// info.Nombre //</p>
<p>// info.descripcion //</p>
<p>// info.fecha_inicio //</p>
<p>// info.fecha_fin //</p>
<p>// info.limite_usuarios //</p>
<p>// info.direccion //</p>
<p>// info.publico //</p>
<p>// info.terminado //</p>